@import url("reset.css");




.wrapper {
	overflow: clip;
	min-height: 100%;
}


header {
	min-height: 50px;
	background-color: aquamarine;
	text-align: center;
	font-size: 36px;
	padding: 10px;
}


.train {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;

}

.train__sky {
	width: 100%;
	min-height: 100px;
	background-color: rgb(137, 137, 225);
	position: relative;
}

.sky__clouds {
	position: absolute;
	left: 10px;
	top: 10px;
}

.sky__clouds--second {
	left: 450px;
	top: 40px;
}

.sky__clouds--third {
	left: 530px;
	top: 15px;
}

.sky__cloud {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	display: inline-block;
	margin-right: -30px;
	vertical-align: middle;
}

.sky__cloud--first {
	width: 50px;
	height: 50px;
}

.sky__cloud--end {
	width: 65px;
	height: 55px;

}

.rails-train {
	width: 100%;
	min-height: 100px;
	perspective: 400px;
	background-color: rgb(133, 212, 133);
	overflow: hidden;
	transform: translate(0, 100px);
}


.rails-train__rotate {
	width: 100%;
	height: 100%;
	transform: rotateX(55deg);


}

.rails-train__top,
.rails-train__bottom {
	width: 1200px;
	height: 20px;
	background-color: rgb(133, 212, 133);
	background-image: linear-gradient(to right, rgb(43, 36, 36) 7px, transparent 5px);
	background-size: 44px 44px;

}

.rails-train__center {
	width: 1200px;
	height: 100px;
	background-color: rgb(133, 212, 133);
	background-image: linear-gradient(to right, rgb(43, 36, 36) 7px, transparent 5px);
	background-size: 44px 44px;
	border: 10px solid rgb(43, 36, 36);
	border-left: none;
	border-right: none;
}

.train__grass {
	max-width: 100%;
	min-height: 400px;
	background-color: rgb(133, 212, 133);
	position: relative;
	z-index: 1;
}

.train__carriages {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 5;
	top: 42px;
	left: 50px;
	animation: train 5s linear 9s;


}

.train__carriage {
	max-width: 330px;
	width: 100%;
	min-height: 130px;
	background-color: rgb(121, 80, 247);
	display: inline-block;
	padding: 30px 30px 10px 30px;
	position: relative;
}

.train__carriage:not(:last-child) {
	margin-right: 20px;
}

.train__carriage--first::after,
.train__carriage--second::after {
	content: '';
	width: 60px;
	height: 15px;
	background-color: black;
	position: absolute;
	left: 310px;
	bottom: 10px;
	z-index: -1;
}

.train__carriage--first {
	border-radius: 70% 0 0 20% / 80% 0 0 20%;
	border: 10px solid rgb(210, 210, 176);
	border-bottom: none;
	border-right: none;
}


.train__carriage--end {
	border-radius: 0 80% 20% 0 / 0 70% 20% 0;
	border: 10px solid rgb(210, 210, 176);
	border-bottom: none;
	border-left: none;
}

.train__decoration {
	max-width: 270px;
	width: 100%;
	height: 90px;
	background-color: rgb(210, 210, 176);
	padding-top: 10px;
}

.train__decoration--first {
	border-radius: 70% 0 0 20% / 80% 0 0 20%;
}

.train__decoration--end {
	border-radius: 0 80% 20% 0 / 0 70% 20% 0;
}

.train__door {
	max-width: 45px;
	width: 100%;
	min-height: 80px;
	height: 100%;
	background-color: rgb(218, 218, 167);
	display: inline-block;
	border: 1px solid rgb(56, 57, 58);
	position: relative;
}

.train__door::after {
	content: '';
	width: 10px;
	height: 5px;
	background-color: rgb(223, 223, 156);
	border: 1px solid rgb(56, 57, 58);
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px rgb(56, 57, 58);
	position: absolute;
	right: 5px;
	top: 50%;
	z-index: 4;
}

.train__decoration--second {
	text-align: center;
}

.train__decoration--second div:not(:last-child) {
	margin-right: 5px;
}

.train__window {
	max-width: 45px;
	width: 100%;
	min-height: 25px;
	background: linear-gradient(180deg, rgba(209, 215, 232, 1) 0%, rgba(133, 150, 201, 1) 90%, rgba(137, 174, 211, 1) 100%, rgba(149, 234, 237, 1) 100%);
	display: inline-block;
	vertical-align: top;
	border: 1px solid rgb(56, 57, 58);
	border-radius: 10px;
}

.train__open-window {
	position: relative;
	max-width: 45px;
	width: 100%;
	min-height: 25px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid rgb(56, 57, 58);
	border-radius: 10px;
	background-color: rgb(96, 94, 94);
}


.train__window--front {
	min-height: 20px;
	position: absolute;
	bottom: -1px;
	left: 3px;
	transform: skew(-20deg, 0);

}

.train__open-door {
	position: relative;
	max-width: 45px;
	width: 100%;
	min-height: 80px;
	height: 100%;
	/* background-color: rgb(123, 123, 95); */
	display: inline-block;
	border: 1px solid rgb(56, 57, 58);
	perspective: 400px;
	background: rgb(123, 123, 95) url("../img/307730.svg") right bottom / 70% no-repeat;


}



.train__door--second {
	position: absolute;
	bottom: -1px;
	right: 17px;
	transform: rotate3d(0, 1, 0, 75deg) scale(0.96);
	animation: door 13s linear 1s;
}

.train__decoration--first {
	text-align: right;

}



.train__windshield {
	width: 35px;
	height: 75px;
	border-right: 2px solid rgb(56, 57, 58);
	border-bottom: 2px solid rgb(56, 57, 58);
	border-radius: 80px 10px 10px 80px;
	transform: translate(-100px, -20px) skew(-40deg);
	background: linear-gradient(90deg, rgba(209, 215, 232, 1) 0%, rgba(133, 150, 201, 1) 50%, rgba(149, 234, 237, 1) 100%);
	display: inline-block;
	vertical-align: top;

}

.train__windshield--end {
	border-left: 2px solid rgb(56, 57, 58);
	border-right: none;
	border-radius: 10px 80px 80px 10px;
	transform: translate(105px, -20px) skew(40deg);
}


.wheels-train {
	max-width: 120px;
	vertical-align: middle;
	position: absolute;
	z-index: -1;
	left: 35px;
	bottom: -20px;
	animation: wheels 7s cubic-bezier(0, .98, .82, .99) 1.5s;

}

.wheels-train__wheel {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 4px solid hsl(0, 33%, 16%);
	background: repeating-conic-gradient(hsl(212deg 9% 80%) 0 14deg, hsl(0, 33%, 16%) 14deg 17deg);
}

/* .wheels-train__wheel:hover {
	transform: rotate(360deg);
	transition: transform 0.5s ease-in-out;
} */

.wheels-train__wheel {
	animation: wheels-rotate 0.5s linear 25 1s;
}

.wheels-train__connection {
	display: inline-block;
	width: 45px;
	height: 7px;
	background-color: hsl(0, 33%, 16%);
	vertical-align: 70%;
	margin: 0 -25px 0 -25px;
	position: relative;
	z-index: 1;

}

.wheels-train--second {
	left: 230px;
}

.wheels-train--third {
	left: 380px;
}

.wheels-train--fourth {
	left: 580px;
}

.wheels-train--fifth {
	left: 730px;
}

.wheels-train--sixth {
	left: 930px;
}

.spruce {
	max-width: 100px;
	height: 200px;
	position: absolute;
	bottom: 10px;
}

.spruce__top {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 40px solid rgb(4, 65, 4);
	position: absolute;
	top: 80px;
	left: 35px;
}

.spruce__middle {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid rgb(4, 65, 4);
	position: absolute;
	top: 100px;
	left: 20px;

}

.spruce__bottom {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 80px solid rgb(4, 65, 4);
	position: absolute;
	bottom: -10px;
}

.spruce--second {
	bottom: 30px;
	left: 50px;
}

.spruce--third {
	bottom: 10px;
	left: 90px;
}

.spruce--fourth {
	bottom: 10px;
	right: 100px;
}

.spruce--fifth {
	bottom: 40px;
	right: 140px;
}


@keyframes train {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translate(2000px);
	}
}

@keyframes wheels {
	0% {
		transform: translate(0);
	}

	50% {
		transform: translate(2000px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes wheels-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes door {
	0% {
		bottom: -1px;
		right: 17px;
		transform: rotate3d(0, 1, 0, 75deg) scale(0.96);
	}

	10% {
		bottom: 0px;
		right: 0px;
		transform: rotate3d(0, 0, 0, 0deg) scale(1);
	}

	100% {
		bottom: 0px;
		right: 0px;
		transform: rotate3d(0, 0, 0, 0deg) scale(1);
	}
}

footer {
	min-height: 50px;
	background-color: aquamarine;
	text-align: center;
	font-size: 36px;
	padding: 10px;
}


.practice {
	padding: 100px;
	background-color: aquamarine;
	min-height: 1000px;
}

.practice__box {
	width: 300px;
	height: 300px;
	perspective: 800px;
	margin: 0 auto;
}

.cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-45deg);
	animation: spin 10s infinite linear;

}

.cube:hover {
	animation-play-state: paused;
}

.cube__side {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: rgb(28, 98, 75, 0.5);
	border: 2px solid rgb(10, 34, 26);
	box-shadow: inset 0 0 30px rgba(6, 74, 51, 0.8), 0 0 10px rgba(0, 0, 0, 0.6);
	font-size: 24px;
	text-align: center;

}

.cube__side--front {
	transform: translateZ(300px);
}

.cube__side--back {
	transform: rotateY(180deg);

}

.cube__side--right {
	transform: rotateY(90deg);
	transform-origin: right top;
}

.cube__side--left {
	transform: rotateY(-90deg);
	transform-origin: left top;
}

.cube__side--top {
	transform: rotateX(90deg);
	transform-origin: left top;
}

.cube__side--bottom {
	transform: rotateX(-90deg);
	transform-origin: left bottom;
}

@keyframes spin {
	from {
		transform: rotateX(-30deg) rotateY(-45deg);
	}

	to {
		transform: rotateX(-30deg) rotateY(315deg);
	}
}