@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* основні стилі */
body {
	font-family: "Poppins", sans-serif;
	background-color: #333;
	color: #1A1A1A;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


.page {
	padding: 30px;
}

header,
footer {
	min-height: 50px;
	background-color: aquamarine;
	text-align: center;
	font-size: 36px;
	padding: 10px;
}


.billing {
	background: #FFF;
	padding-top: 32px;
	padding-bottom: 80px;
}



.billing__form {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.form__info {
	flex-basis: 872px;
}


.info__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 20px;
}

.info__row {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.info__label {
	font-size: 14px;
	line-height: 1.5;
	flex-basis: 280px;
}

.info__text {
	margin-bottom: 8px;
	display: inline-block;
}

.info__text span {
	color: #808080;
}

.info__input {
	width: 100%;
	color: #999;
	font-size: 16px;
	line-height: 1.3;
	padding: 14px 16px;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
}


.info__input:focus::placeholder {
	opacity: 0;
}

.info__input:focus-within,
.info__select:focus-within {
	outline: 2px solid #999;
	background-color: #E6E6E6;
}

.info__label--big {
	flex-basis: 872px;
}

.info__select {
	width: 100%;
	color: #999;
	font-size: 16px;
	line-height: 1.3;
	padding: 14px 16px;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
}

.info__label--width {
	flex-basis: 428px;
}



.checkbox__input {
	width: 0;
	height: 0;
}

.info__checkbox {
	display: inline-flex;
	cursor: pointer;
	margin-bottom: 32px;
	padding-top: 4px;
	align-items: center;
}


.checkbox__text {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #4D4D4D;
	font-size: 14px;
	line-height: 1.5;
}

.checkbox__text::before {
	content: "";
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background-color: #FFF;
	border: 1px solid #cccc;
	border-radius: 2.5px;
	transition: background-color 0.3s;
	align-self: flex-start;
}

.checkbox__input:checked+.checkbox__text::before {
	background-color: #00B207;
}

.checkbox__input:focus-visible+.checkbox__text {
	outline: 2px solid #999;
	background-color: #E6E6E6;
}

.row::after {
	content: "";
	width: 100%;
	height: 1px;
	background: #E6E6E6;
	margin-bottom: 32px;
}

.info__input--textarea {
	resize: vertical;
	min-height: 100px;
}

.order {
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	padding: 24px;
	flex-basis: 376px;
	align-self: flex-start;
}

.order__title {
	color: #1A1A1A;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 12px;
}

.order__basket {
	margin-bottom: 12px;
}

.order__product {
	display: flex;
	gap: 6px;
	align-items: center;
}

.product__img {
	flex-basis: 60px;
}

.product__img img {
	width: 100%;
	height: 60px;
}

.product__info {
	display: flex;
	gap: 6px;
	flex-grow: 1;
	font-size: 14px;
	line-height: 1.5;
}

.product__price {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
}

.order__total {
	color: #4D4D4D;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 24px;
}

.order__row {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
	gap: 10px;
	border-bottom: 1px solid #E6E6E6;

}

.order__value {
	font-weight: 500;
	color: #1A1A1A;
}

.order__row--padding {
	padding-bottom: 0;
	border-bottom: none;
}

.order__text--font {
	font-size: 16px;
}

.order__value--font {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2
}

.order__title--margin {
	margin-bottom: 16px;
}

.order__checkbox {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 24px;
}



.order__input {
	appearance: none;
}

.order__label {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
}

.order__label::before {
	content: "";
	flex-grow: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #CCC;
	align-self: flex-start;
}

.order__input:checked+.order__label::before {
	background: url("../img/icon.svg") center / contain no-repeat;
}

.order__input:focus-visible+.order__label {
	outline: 2px solid #00B207;
}

.order__button {
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	border-radius: 43px;
	background-color: #00B207;
	width: 100%;
	padding: 16px 40px;
	transition: background-color 0.5s;
	transition: transform 0.5s;
}

.order__button:hover {
	background-color: #017204;
	transition: background-color 0.5s;
}

.order__button:active {
	transform: scale(0.95);

}